---

# OAS 3 Specifications. the spec should be set to spec.<filename> without the yaml extension
# Ansible will load the specification from {{specs_dir/<name>.yaml}}
oas3:
  f1_api:
    config:
      metadata:
        name: f1_api
        displayName: Ergast F1 API
      desiredState:
        spec: "{{ specs.ergast | default({}) }}"

# Identity Providers...
idps:
  f1_keys:
    config:
      metadata:
        name: f1_keys
        displayName: F1 API Keys
      desiredState:
        identityProvider:
          type: API_KEY
  my_jwt_remote:
    config:
      metadata:
        name: my_jwt_remote
        displayName: My JWT URL
      desiredState:
        identityProvider:
          type: JWT
          jwkFile:
            cacheExpire: 12h
            type: REMOTE_FILE
            uri: https://www.googleapis.com/oauth2/v3/certs
  my_jwt_local:
    config:
      metadata:
        name: my_jwt_local
        displayName: My JWT Local
      desiredState:
        identityProvider:
          type: JWT
          jwkFile: "{{ jwks.google | default({}) }}"

# Local API keys (clients)
clients:
  f1_admins:
    parent: f1_keys
    config:
      metadata:
        name: f1_admins
        displayName: F1 Admins
      desiredState:
        credential:
          type: API_KEY
          apiKey: e849b3f640a6740683f9012b097208bc

envs:

  f1_prod:
    config:
      metadata:
        name: f1_prod
        displayName: "F1 [ Production ]"
        tags: []
      desiredState: {}

    # Certificates:
    certs:
      ergast.nginx:
        config:
          metadata:
            name: ergast.nginx
          desiredState:
            type: PEM
            publicCert: "{{ pem.public[ 'ergast.nginx' ] | default('') }}"
            privateKey: "{{ pem.private[ 'ergast.nginx' ] | default('') }}"
            caCerts: "{{ pem.chain[ 'ergast.nginx' ] | default([]) }}"

    gateways: 
      nginx_gw:
        config:
          metadata:
            name: nginx_gw
          desiredState:
            ingress:
              uris:
                workship_fe_placeholder: {}
              placement:
                instanceRefs:
                  - ref: "/infrastructure/locations/unspecified/instances/2"
              # Enable TLS for the API
              tls:
                certRef:
                  ref: "/services/environments/f1_prod/certs/ergast.nginx"
                protocols:
                  - TLSv1.2
                  - TLSv1.3
                preferServerCipher: ENABLED
                sessionCache: SHARED

    apps:
      f1com:
        config:
          metadata:
            name: f1com
            displayName: F1 Apps
            tags: []
          desiredState: {}

    # Published APIs - link back to OAS3 specs above
    apis:
      f1_api:
        parent: f1com
        config:
          metadata:
            name: f1_api
            displayName: F1 API
          desiredState:
            apiDefinitionRef:
              ref: /services/api-definitions/f1_api
            gatewayRefs:
            - ref: /services/environments/f1_prod/gateways/nginx_gw
            componentRefs:
            - ref: /services/environments/f1_prod/apps/f1com/components/drivers
            - ref: /services/environments/f1_prod/apps/f1com/components/seasons

    components:
      blog:
        parent: f1com
        config:
          metadata:
            name: blog
            displayName: blog
            tags: []
          desiredState:
            ingress:
              gatewayRefs:
              - ref: /services/environments/f1_prod/gateways/nginx_gw
              uris:
                /blog: {}
                /: {}
            backend:
              ntlmAuthentication: DISABLED
              preserveHostHeader: DISABLED
              workloadGroups:
                ergastf1:
                  loadBalancingMethod:
                    type: ROUND_ROBIN
                  uris:
                    http://unit1:
                      isBackup: false
                      isDown: false
                      isDrain: false
                      resolve: DISABLED
            programmability:
              uriRewrites:
                - incomingPattern: "^(/blog)/old$"
                  rewritePattern: "$1/new"
            logging:
              errorLog: DISABLED
              accessLog:
                state: ENABLED

      # This one is for a published API
      drivers:
        parent: f1com
        config:
          metadata:
            name: drivers
            displayName: drivers
            tags: []
          desiredState:
            ingress:
              gatewayRefs:
              - ref: /services/environments/f1_prod/gateways/nginx_gw
              uris:
                /api/f1/drivers:
                  matchMethod: PREFIX
            publishedApiRefs:
              - ref: /services/environments/f1_prod/apps/f1com/published-apis/f1_api
             
            # Security Section
            security:

              # API Key Authentication
              apiKeyClientAuth:
                key: psk
                keyLocation: QUERY_PARAM      # QUERY_PARAM or HEADER

              # JWT Authentication
              # jwtClientAuth:
              #   key: jwt                    # Not needed for BEARER
              #   KeyLocation: HEADER         # BEARER, HEADER, COOKIE, QUERY_PARAM

              # IDP for the Authentication process above: apiKeyClientAuth or jwtClientAuth
              identityProviderRefs:
                - ref: /security/identity-providers/f1_keys

            backend:
              ntlmAuthentication: DISABLED
              preserveHostHeader: DISABLED
              workloadGroups:
                ergastf1:
                  loadBalancingMethod:
                    type: ROUND_ROBIN
                  locationRefs:
                    - ref: /infrastructure/locations/unspecified
                  uris:
                    http://unit1:
                      isBackup: false
                      isDown: false
                      isDrain: false
                      resolve: DISABLED
              monitoring:
                defaultState: HEALTHY
                uri: /api/f1/seasons
            logging:
              errorLog: DISABLED
              accessLog:
                state: ENABLED

      # This one is for a published API
      seasons:
        parent: f1com
        config:
          metadata:
            name: seasons
            displayName: seasons
            tags: []
          desiredState:
            ingress:
              gatewayRefs:
              - ref: /services/environments/f1_prod/gateways/nginx_gw
              uris:
                /api/f1/seasons:
                  matchMethod: PREFIX
                '/api/f1/{seasonYear}':
                  matchMethod: PREFIX
            publishedApiRefs:
              - ref: /services/environments/f1_prod/apps/f1com/published-apis/f1_api
          
            # Security Section
            security:

              # Rate shaping definition
              rateLimit:
                defaultLimit:
                  key: $binary_remote_addr    # Default $binary_remote_addr, can be any NGINX variable
                  rate: 1
                  rateMeasure: SECONDS        # SECONDS or MINUTES
                  statusCode: 429

            backend:
              ntlmAuthentication: DISABLED
              preserveHostHeader: DISABLED
              workloadGroups:
                ergastf1:
                  loadBalancingMethod:
                    type: ROUND_ROBIN
                  locationRefs:
                    - ref: /infrastructure/locations/unspecified
                  uris:
                    http://unit1:
                      isBackup: false
                      isDown: false
                      isDrain: false
                      resolve: DISABLED
              monitoring:
                defaultState: HEALTHY
                uri: /api/f1/seasons
            logging:
              errorLog: DISABLED
              accessLog:
                state: ENABLED

