
upstream git {
  zone upstream_nginx 64k;
  server cicd1:3000;
}

upstream jenkins {
  zone upstream_nginx 64k;
  server cicd1:8080;
}

server {
    listen       80;

    server_name  git.{{ wsid }}.{{ domain }};

    access_log  /var/log/nginx/git.access.log  main_ext;

    location / {
      proxy_pass http://git;
      proxy_http_version 1.1;
      proxy_set_header Connection "";
      proxy_set_header Host      $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Host $host;
      proxy_set_header X-Forwarded-Port 80;
      proxy_set_header X-Forwarded-Proto $scheme;
      proxy_redirect default;
      health_check;
    }

    # redirect server error pages to the static page /50x.html
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}


server {
    listen       80;

    server_name  jenkins.{{ wsid }}.{{ domain }};

    access_log  /var/log/nginx/jenkins.access.log  main_ext;

    location / {
      proxy_pass http://jenkins;
      proxy_http_version 1.1;
      proxy_set_header Connection "";
      proxy_set_header Host      $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Host $host;
      proxy_set_header X-Forwarded-Port 80;
      proxy_set_header X-Forwarded-Proto $scheme;
      proxy_redirect default;
      health_check;
    }

    # redirect server error pages to the static page /50x.html
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}

