server {
    listen       80;

    server_name  {{ wsid }}.{{ domain }};

    access_log  /var/log/nginx/host.access.log  main_ext;

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }

    location /tasks {
        alias  /home/ubuntu/html;
    }

    location /api {
      api write=on;
      auth_basic "nginx restricted";
      auth_basic_user_file /home/ubuntu/secrets/htpasswd;
    }

    location = /dashboard.html {
      root   /usr/share/nginx/html;
      auth_basic "nginx restricted";
      auth_basic_user_file /home/ubuntu/secrets/htpasswd;
    }

    location /swagger-ui {
      root   /usr/share/nginx/html;
      auth_basic "nginx restricted";
      auth_basic_user_file /home/ubuntu/secrets/htpasswd;
    }

}

