server {
    listen       80 default_server;

    server_name  {{ wsid }}.{{ domain }};

    access_log  /var/log/nginx/host.access.log  main;

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }

    location /tasks {
        alias  /home/ubuntu/html;
    }

}
