server {

    server_name  {{ wsid }}.{{ domain }};

    access_log  /var/log/nginx/host.access.log  main;

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }

    location /tasks {
        alias  /home/ubuntu/html;
    }


    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/{{ wsid }}.{{ domain }}/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/{{ wsid }}.{{ domain }}/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}
server {
    if ($host = {{ wsid }}.{{ domain }}) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    listen       80 default_server;

    server_name  {{ wsid }}.{{ domain }};
    return 404; # managed by Certbot


}

