server {

    server_name  {{ wsid }}.{{ domain }};
    server_name  *.{{ wsid }}.{{ domain }};
    default_type text/plain;

    #access_log  /var/log/nginx/host.access.log  main_ext;

    location / {
      root   /usr/share/nginx/html;
      index  index.html index.htm;
    }

    location /tasks {
      alias  /home/ubuntu/html;
      auth_basic "nginx restricted";
      auth_basic_user_file /home/ubuntu/secrets/htpasswd;
    }

    location /secrets {
      alias  /home/ubuntu/secrets;
      autoindex on;
      auth_basic "nginx restricted";
      auth_basic_user_file /home/ubuntu/secrets/htpasswd;
    }

    location /api {
      api write=on;
      auth_basic "nginx restricted";
      auth_basic_user_file /home/ubuntu/secrets/htpasswd;
    }

    location = /dashboard.html {
      root   /usr/share/nginx/html;
      auth_basic "nginx restricted";
      auth_basic_user_file /home/ubuntu/secrets/htpasswd;
    }

    location /swagger-ui {
      root   /usr/share/nginx/html;
      auth_basic "nginx restricted";
      auth_basic_user_file /home/ubuntu/secrets/htpasswd;
    }

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/{{ wsid }}.{{ domain }}/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/{{ wsid }}.{{ domain }}/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

server {
    if ($host = {{ wsid }}.{{ domain }}) {
      return 301 https://$host$request_uri;
    } # managed by Certbot

    listen       80;

    server_name  {{ wsid }}.{{ domain }};
    server_name  *.{{ wsid }}.{{ domain }};
    return 404; # managed by Certbot

}

