<!DOCTYPE html>
<html>
<head>
<title>Welcome to nginx!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>

<h1>Welcome to the workshop</h1>
<p>
This is your workshop gateway machine.
</p><p>
If you are looking for the workshop lab guide, then please go here:<br/>
<a href="/tasks/">Workshop Lab Guide</a>
</p>

</body>
</html>
